.background {
    background: url("background.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.translucent {
    opacity: 0.75;
    background-color: white;
}