

body {
  background-image: url("background.jpeg");
  background-attachment: fixed;
  background-size: cover;
}

.translucent {
    opacity: 0.75;
    background-color: white;
}

.bg-hustle {
  --bs-bg-opacity: 1;
    background-color: #537f37
}

.btn-hustle {
  color: #fff;
    background-color: #537f37;
    border-color: #537f37;
}

.btn-brown {
  color: #fff;
    background-color: #8a703f;
    border-color: #8a703f;
}

.btn-hustle-secondary {
  color: #fff;
    background-color: #3f8dc4;
    border-color: #3f8dc4;
}

.border-hustle {
  border-color: #537f37
}

.border-brown {
  border-color: #8a703f
}

.img-border {
  margin: 5px;
  padding: 10px;
}

.bg-brown {
  --bs-bg-opacity: 1;
  background-color: #8a703f
}

.bg-hustle-secondary {
  --bs-bg-opacity: 1;
    background-color: #3f8dc4;
}

.bg-hustle-winter {
  --bs-bg-opacity: 1;
    background-color: #61a3d3b2;
}

.link-hustle {
  color: #3f8dc4
}

.link-hustle.blacklisted {
  color: #400
}

.row {
  --bs-gutter-x: 0;
}

.scroll {
  height:400px;
  overflow-y: scroll;
}

.btn-outline-hustle {
  color: #537f37;
  border-color: #537f37;
}