{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<!--Create Complaint-->
<div class="d-flex justify-content-center container-sm">
  <div class="card m-5">
    <div class="card-header bg-success text-white">
      File a Complaint
    </div>
    <div class="card-body">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in complaint_form %}
        <div class="fieldWrapper mb-2">
          {{ field|as_crispy_field }}
        </div>
        {% endfor %}
        <button class="btn btn-success mb-2" type="submit">Submit</button>
	<button class="btn btn-outline-danger mb-2" type="button" onclick="cancelFunction()">Discard</button>
      </form>
      <p class="text-center">Your complaint will be reviewed by the site owner.</p>
    </div>
  </div>
</div>

<script type="text/javascript">
	function cancelFunction() {
		if (confirm("Are you sure you want to discard this complaint?") == true) {
			document.location.href='{% url "complaints:view" %}'
		}
	}
</script>

{% endblock %}
