{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}

{% load crispy_forms_tags %}

{% load static %}

<!--View Complaint-->
<div class="d-flex justify-content-center">
  <div class="card m-5 w-50">
      <div class="card-header bg-hustle-secondary text-white">
        <h2 style="display: flex; flex-direction: row">
            <h2 class="my-2" style="float: left">Complaint #{{ complaint.id }}</h2>
            <h2><span class="badge rounded-pill bg-brown my-2 border border-white" style="float: right">{{ complaint.get_state_display }}</span></h2>
        </h2>
      </div>
    <div class="card-body">
        <div class="m-2 bg-light p-4 rounded border border-hustle">
            <p id="created_date"><strong>Created On: </strong>{{ complaint.create_date }}</p>
            <p>Requested From: {{ complaint.user }}</p>
            <p>Reason: {{ complaint_reason }}</p>
            <p>Description: {{ complaint.description }}</p>
            {% if complaint_url %}
                <div>
                    <p>Attached Image:</p><br>
                    <img src="{{ complaint_url }}"/><br>
                </div>
            {% endif %}
        </div>
        <div class="m-2 bg-light p-4 rounded border border-hustle">
            {% if complaint.state == "open" %}
            <button class="btn btn-success mb-2" id="reimburse_button">Reimburse</button>
            <a class="btn btn-outline-secondary mb-2" href="{{ url }}/complaints/close/{{ complaint.id }}">Mark As Closed</a>
            {% elif complaint.state == "closed" %}
            <a class="btn btn-outline-secondary mb-2" href="{{ url }}/complaints/open/{{ complaint.id }}">Re-Open</a>
            {% endif %}
            <div id="reimbursement_info" class="border border-secondary rounded" style="display: none;">
                <div class="m-4">
                  <h3 style="text-align: center;">Confirm Reimbursement</h3>
                  <p style="text-align: center;">By confirming, you are depositing (complaint price) into the customer's account and marking this complaint as closed.</p>
                  <a class="btn btn-secondary w-100 m-1" id="confirmReimbursementButton" href="{{ url }}/complaints/reimburse/{{ complaint.id }}">Confirm</a>
                  <button class="btn btn-danger w-100 m-1" id="cancelReimburseButton">Cancel</button>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<script src="{% static 'complaints/complaints.js' %}"/>

{% endblock %}