{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}
<!--Register-->


<!--Register-->
<div class="row my-4">
    {% if view_user.customer_data %}
    <div class="col-3">
        <div class="card text-center mx-2">
            <div class="card-header bg-brown text-white">
                <h2>Worker Surveys</h2>
            </div>
            <div class="card-body scroll">
                {% for survey in surveys %}
                <div class="card mx-4 mb-4">
                    <div class="card-header text-center">
                        <h2 class="text-center">Job #{{ survey.job.id }}</h2>
                        <strong>Type: {{survey.job.type }}</strong>
                    </div>
                    <div class="card-body">
                        <strong>Duration Notes: </strong>
                        <p>{{ survey.duration_notes }}</p>
                        <strong>Difficulty Notes: </strong>
                        <p>{{ survey.complexity_notes }}</p>
                        <strong>Other Notes: </strong>
                        <p>{{ survey.notes }}</p>
                        <strong>By: {{ survey.job.claimed_user.first_name }} {{ survey.job.claimed_user.last_name }}</strong>
                        <p>Date: {{ survey.create_date }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% elif view_user.worker_data %}
    <div class="col-3">
        <div class="card text-center mx-2">
            <div class="card-header bg-brown text-white mb-4">
                <h2>Customer Reviews</h2>
            </div>
            <div class="card-body scroll">
                {% for review in reviews %}
                <div class="card mx-4 mb-4">
                    <div class="card-header text-center">
                        <h2 class="text-center">Rating: {{ review.rating }}/5 </h2>
                    </div>
                    <div class="card-body">
                        <p>{{ review.comments }}</p>
                        <strong>By: {{ review.reviewer.first_name }} {{ review.reviewer.last_name }}</strong>
                        <p>Date: {{ review.create_date }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    <div class="col-6">
        <div class="card mx-2">
            <div class="card-header bg-brown text-white">
                <h1 class="my-2" style="float: left">{{ view_user.username }}</h1>
                {% if bl %}
                <h5><span class="badge rounded-pill bg-dark my-4" style="float: right">Blacklisted</span></h5>
                {% endif %}
            </div>
            <div class="card-body justify-content-center">
                <h3>
                    <p>First Name: {{ view_user.first_name }}</p>
                    <p>Last Name: {{ view_user.last_name }}</p>
                    <p>Email: {{ view_user.email }}</p>
                </h3>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card mx-2">
            <div class="card-header bg-brown text-white justify-content-center">
                <h1>
                    Blacklist
                </h1>
            </div>
            <div class="m-4">
                {% if bl %}
                <a class="btn btn-secondary" href="{% url 'main:blackListUser' view_user.id %}">
                    Undo BlackList {{ view_user.username }}
                </a>
                {% else %}
                <a class="btn btn-dark" href="{% url 'main:blackListUser' view_user.id %}">
                    BlackList {{ view_user.username }}
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>



{% endblock %}