{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<!--View Job-->
<head>
    <style>
    table {
      border-collapse: collapse;
    }

    tr {
      border-bottom: 1px solid #ddd;
    }
    </style>
    <title>View Job</title>
</head>
<div class="d-flex justify-content-center">
    <div class="card w-50 m-5">
        <div class="card-header">
            <h2 style="display: flex; flex-direction: row">
                <span style="flex-grow: 1">Job# {{ job.id }}</span>
                <form style="margin-right: 8px" method="post" action="{{ url }}/jobs/cancel_job/{{ job.id }}">
                    {% csrf_token %}
                    <input type="submit" value="Cancel Job"></input>
                </form>
                <span>Created By: {% include 'main/user_link.html' with user=job.customer %}</span></h2>
        </div>
        <div class="card-body justify-content-center">
            <p>Type: {{ job.type }}</p>

            {% if job.accepted_bid != null %}
                <p>Accepted User: {% include 'main/user_link.html' with user=job.accepted_bid.user %}</p>
                <p>Accepted Bid: {{ job.accepted_bid.bid }}</p>
            {% endif %}


            <p>Time Estimate: {{ job.time_estimate }}</p>
            <p>Completion Window Start: {{ job.completion_window_start }}</p>
            <p>Completion Window End: {{ job.completion_window_end }}</p>
            {% if job.claimed_user == user %}
                {% if not job.complete %}
                    <a class="btn btn-success m-1" style="float: right" href="{% url 'jobs:complete job' job.id %}">Complete Job</a>
                {% endif %}
            {% endif %}
            {% if job.complete %}

                <div class="m-1" style="float: right">Job Completed</div>

            {% endif %}
            <p>Zip Code: {{ job.zip_code }}</p>
            {% if job.accepted_bid %}
                <p>Accepted Bid Amount: {{ job.accepted_bid.bid }}</p>
                <p>Accepted Bid User: {{ job.accepted_bid.user }}</p>
            {% endif %}
        </div>

        {% if not job.complete and not job.accepted_bid %}
            <div>
                <h5>Current Bids</h5>
            </div>
            <table class="table table-sm">
                <tr>
                    <th>Bid</th>
                    <th>User</th>
                </tr>
                {% for bid in bids %}
                    <tr>
                    <td>
                        {{ bid.bid }}
                    </td>
                    <td>
                        {{ bid.user }}
                    </td>
                    <td>

                        <form method="post" action="{{ url }}/jobs/accept_bid/{{ job.id }}/{{ bid.id }}">
                            {% csrf_token %}
                            <input type="submit" value="Accept"></input>
                        </form>

                    </td>
                    </tr>
                {% endfor %}
            </table>
        <br>
        <div>
            <h5>Submit A New Bid</h5>
            <form method="POST">
                {% csrf_token %}
                <div class="fieldWrapper">
                    {{ job_bid_form.bid|as_crispy_field }}
                </div>
                <div class="justify-content-center">
                    <button class="btn btn-success" type="submit">Submit</button>
                </div>
            </form>
        </div>
        {% else %}
            {% if not job.complete %}
                <a class="btn btn-warning m-1" style="float: right" href="{% url 'jobs:cancel accept bid' job.id %}">Cancel Accepted Bid</a>
            {% endif %}
        {% endif %}

    </div>
</div>


{% endblock %}