{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}

{% load crispy_forms_tags %}

<!--View Job-->

<head>
    <style>
        table {
            border-collapse: collapse;
        }

        tr {
            border-bottom: 1px solid #ddd;
        }
    </style>
    <title>View Job</title>
</head>
<div class="d-flex justify-content-center">
    <div class="card w-50 m-5">
        <div class="card-header bg-hustle-secondary text-white">
            <h2 style="display: flex; flex-direction: row">
                <h2 class="my-2" style="float: left">Job #{{ job.id }}</h2>
                <h2><span class="badge rounded-pill bg-brown my-2 border border-white" style="float: right">Customer: <a
                            class="text-white" href="{% url 'main:otherProfile' job.customer.id %}">{{ job.customer.username }}</a></span></h2>
            </h2>
        </div>
        <div class="card-body justify-content-center">
	    {% if job.cancelled %}
	    <center>
		<h1 style="color:red">Job Cancelled</h1>
	    </center>
	    {% endif %}
            <div>
                {% if job.claimed_user != null %}
                <div class="m-2">
                    <p>Accepted User: {% include 'main/user_link.html' with user=job.claimed_user %}</p>
                    <p>Accepted Bid: {{ job.accepted_bid.bid }}</p>
                    <p>Scheduled Time: {{ job.accepted_bid.date_time }}</p>
                </div>
                {% endif %}

                <div class="m-2 bg-light p-4 rounded border border-hustle">
                    <h3 class="pb-4">Job Details</h3>
                    <p>Type: {{ job.type }}</p>
                    <p>Time Estimate: {{ job.time_estimate }}</p>
                    <p>Completion Window Start: {{ job.completion_window_start }}</p>
                    <p>Completion Window End: {{ job.completion_window_end }}</p>
                    <p>Zip Code: {{ job.zip_code }}</p>
                </div>

                {% if job.accepted_bid.user == user and not job.complete %}
                <div class="m-2">
                    <a class="btn btn-hustle-secondary m-1" onclick="return confirm('Are you sure?')" href="{% url 'jobs:complete job' job.id %}">Mark
                        Complete</a>
                </div>
                {% elif job.complete %}
		<center><h5 class="m-2 text-{{ job.get_state.1 }}">Job Completed</h5></center>
                {% endif %}
            </div>
            <div>
                {% if job.get_state.0 == "Open" %}
                <div class="m-2 bg-light p-4 rounded border border-hustle">
                    <h2>Current Bids</h2>
                    <table class="table table-sm m-4">
                        <tr>
                            <th>Bid</th>
                            <th>User</th>
                            <th>Date/Time</th>
                        </tr>
                        {% for bid in bids %}
                        <tr>
                            <td>
                                {{ bid.bid }}
                            </td>
                            <td>
                                {{ bid.user }}
                            </td>
                            <td>
                                {{ bid.date_time }}
                            </td>
                            <td>
				{% if user.customer_data %}
                                <form method="post" action="{{ url }}/jobs/accept_bid/{{ job.id }}/{{ bid.id }}">
                                    {% csrf_token %}
                                    <input class="btn btn-hustle" type="submit" value="Accept"></input>
                                </form>
				{% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
		{% if user.worker_data %}
                <div class="m-2 bg-light p-4 rounded border border-hustle">
                    <div class="">
                        <h5>Submit A New Bid</h5>
			<form method="POST" action="{% url 'jobs:bid job' job.id %}">
                            {% csrf_token %}
                            <div class="fieldWrapper">
                                {{ job_bid_form.bid|as_crispy_field }}
                                {{ job_bid_form.date_time|as_crispy_field }}
                            </div>
                            <div class=" my-2">
                                <button class="btn btn-hustle" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
		{% endif %}
                {% elif not job.complete %}
                    {% if time_left > 0%}
		            <a class="btn btn-warning m-1" href="{% url 'jobs:cancel accept bid' job.id %}">Cancel Accepted Bid</a> {{time_left}} Hours Left </div>
                    {% else %}
                    <div class="btn text-light bg-secondary m-1">Cancel Accepted Bid</div> Times up </div>
                    {% endif %}
                {% endif %}
            </div>
            {% if job.customer == user and not job.cancelled %}
            <div class="m-2 bg-light p-4 rounded border border-hustle row">
                <div class="col-6">
                    <a class="btn btn-hustle w-100" href="{% url 'complaints:create' %}">File A Complaint</a>
                </div>

                {% if not job.accepted_bid %}
                <div class="col-6">
                    <form class="w-100" method="post" action="{{ url }}/jobs/cancel_job/{{ job.id }}">
                        {% csrf_token %}
                        <input class="w-100 btn btn-danger" type="submit" value="Cancel Job"></input>
                    </form>
                </div>
                {% else %}
                <div class="col-6">
                    <div class="w-100 btn text-light bg-secondary">Cancel Job</div>
                </div>
                {% endif %}

            </div>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}
